services:
  - type: web
    name: sharebox-server
    env: docker
    plan: free
    rootDir: server
    envVars:
      - key: MONGODB_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CLIENT_URL
        sync: false
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: AWS_REGION
        sync: false
      - key: AWS_BUCKET_NAME
        sync: false
      - key: MAIL_USER
        sync: false
      - key: MAIL_PASS
        sync: false
